body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

button {
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 20px;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 200px;
    background-color: gray;
    color: white;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color:#1F2937;
    margin-top: 10px;
}

h3{
    margin: 0;
}

.top, .footer{
    background-color: #1F2937;
}

.top{
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 25px;
}

.header {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.description{
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    flex-wrap: wrap;
    max-width: 380px;
    color: white;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#hero {
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}
.empty {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    flex-wrap: wrap;
    gap: 5px;
}

.illustration {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info {
    margin-bottom: 40px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
}
.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.author {
    padding-left: 600px;
    font-weight: bold;
}

.ad-message {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.ad {
    display: flex;
    justify-content: center;
    gap: 250px;
    background-color: #3882F6;
    color: white;
    padding: 40px;
    margin: 50px 200px;
    border-radius: 5px;
}

.ad button {
    border-color: white;
}