body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

button {
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 20px;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 200px;
    background-color: gray;
    color: white;
}


.top, .footer{
    background-color: #1F2937;
}

.top{
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 25px;
}

.header {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.description{
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    flex-wrap: wrap;
    max-width: 380px;
    color: white;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#hero {
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}
